{
  "printWidth": 100,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.json"],
      "options": {
        "tabWidth": 1
      }
    },
    {
      "files": ["*.{ts}"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
